<header class="header">
    <div class="container">
        <div class="logo">
            <a routerLink="/">NUIM Universitet</a>
        </div>

        <nav class="nav">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Hem</a>
            <a routerLink="kurser" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Alla Kurser</a>
            <a routerLink="schema" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Mitt Schema</a>
            <a routerLink="om" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Om Projektet</a>
        </nav>
    </div>
</header>