.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.hero-image {
  border-radius: var(--radius);
}

.stats {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.stat-number {
  font-size: 2.25rem;
  font-weight: bold;
}

.subject-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subject-row {
  display: grid;
  grid-template-columns: 14rem 1fr 3rem;
  align-items: center;
  gap: 1rem;
}

.bar {
  display: block;
  height: 0.5rem;
  border-radius: 0.25rem;
  background: #e4e4e4;
  overflow: hidden;
  border: #333 solid 1px;
}

.bar-fill {
  display: block;
  height: 100%;
  background-image: repeating-linear-gradient(
    -45deg,
    var(--color-accent) 0 24px,
    var(--color-primary) 24px 48px
  );
  border-right: #333 solid 1px;
}

.subject-count {
  text-align: right;
}

@media (max-width: 700px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .subject-row {
    grid-template-columns: 1fr 3rem;
  }

  .bar {
    grid-column: 1 / -1;
  }
  
  .stats {
    gap: 2rem;
  }

}