<section>

<h1>Kurser</h1>

<input type="text" [ngModel]="searchTerm()" (ngModelChange)="searchTerm.set($event)" placeholder="Sök kurs...">

<table>

    <thead>
        <tr>
            <th (click)="setSortField('courseCode')">Kurskod</th>
            <th (click)="setSortField('courseName')">Kursnamn</th>
            <th (click)="setSortField('points')">Poäng</th>
            <th (click)="setSortField('subject')">Ämne</th>
            <th>Kursplan</th>
            <th>Lägg till</th>
        </tr>
    </thead>

    <tbody>

        @if (error()) {
            <td colspan="6">{{ error() }}</td>
        }

        @if (loading()) {

        <tr>
            <td colspan="6">Laddar kurser...</td>
        </tr>

        } @else {

        @for (course of filteredCourses(); track course.courseCode) {
        <tr>
            <td>{{ course.courseCode }}</td>

            <td>{{ course.courseName }}</td>

            <td>{{ course.points }}</td>

            <td>{{ course.subject }}</td>

            <td>
                <a [href]="course.syllabus" target="_blank">Kursplan</a>
            </td>

            <td><button>Lägg till</button></td>

        </tr>
        }
        @empty {
        <tr>
            <td colspan="6">Inga kurser hittades...</td>
        </tr>
        }

        }

    </tbody>

</table>

</section>